.outBox {
  border: 5px solid;
  padding: 15px;
  width: 50%;

  /* to center the outbox in the page */
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.titleText {
  font-size: 30px;
  color: gray;
  font-weight: bold;
  padding: 0 10px;
}

.digitalClock {
  font-size: 30px;
  background-color: black;
  border-radius: 10px;
  color: white;
  word-spacing: 10px;
  /* text-align: center; */
}